<h1>Pin partial view</h1>

<li>Have a create pin button like in pinterest</li>
<li>List users pins</li>
<div class="row">

  <div class="col s12 m3">
    <div class="card blue-grey darken-1">
      <div class="fixed-action-btn horizontal" style="position: absolute; display: inline-block; bottom: 8px;">
          <a class="btn-floating btn-medium orange">
            <i class="medium material-icons">toc</i>
          </a>
          <ul>
            <li><a class="btn-floating red" style="display: : inline-block; bottom: 10px;"><i class="material-icons">insert_chart</i></a></li>
            <li><a class="btn-floating yellow darken-1" style="display: : inline-block; bottom: 10px;"><i class="material-icons">format_quote</i></a></li>
            <li><a class="btn-floating green" style="display: : inline-block; bottom: 10px;"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue" style="display: : inline-block; bottom: 10px;"><i class="material-icons">delete</i></a></li>
          </ul>
        </div>
      <div class="card-content white-text">
        <span class="card-title">New Pin</span>
        <p>
          <!-- <img src="/styles/img/cork_texture_stock.jpg" class="cork"> -->
        </p>
        <div>
      </div>

      <div class="card-action">

        <!-- <a href="#/createPin">Make a New Pin</a> -->
          <!-- Icons and tooltips for pinned cards -->
         <!--  <div>
            <a><i class="medium material-icons" class="tooltipped" data-position="right" data-delay="50" data-tooltip="I am in right!">delete</i></a>
          </div> -->
      </div>

    </div>
  </div>

  <!-- Grab all pins owned by the current user and display them -->
  <div ng-repeat="pin in specificUserPinList" class="col s12 m3">
    <p>{{pin}}</p>
    <div class="card blue-grey darken-1">

      <div class="card-content white-text">
        <span class="card-title">New Pin</span>
        <p>This should open up the page to create a new pin</p>
      </div>

      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>

    </div>
  </div>
</div>
